@font-face {
  font-family: TTB;
  src: url(https://media.transcript.fish/fonts/TT2020StyleB-Regular.woff2);
  font-weight: bold;
}
@font-face {
  font-family: TTB;
  src: url(https://media.transcript.fish/fonts/TT2020StyleB-Italic.woff2);
  font-style: italic;
}
@font-face {
  font-family: TTE;
  src: url(https://media.transcript.fish/fonts/TT2020StyleE-Regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: TTE;
  src: url(https://media.transcript.fish/fonts/TT2020StyleE-Italic.woff2);
  font-style: italic;
}

* {
  font-display: block;
}

:root {
  display: flex;
  flex-direction: column;
  background: #e8d22f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: TTE, 'Courier New', Courier, monospace;
  font-size: 1.2em;
  text-align: justify;
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: TTB, 'Courier New', Courier, monospace;
}
